body {
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	background-color: #6ddccf;
}

h1 {
	color: white;
	font-family: 'RocknRoll One', sans-serif;
	text-transform: uppercase;
	padding-top: 5px;
	padding-left: 25px;
}

h5 {
	text-align: center;
	padding-top: 25px;
	/*padding-left: 25px;*/
}

#login {
	background-color: #ffefa1;
}

.sightword_list_col {
	background-color: #ffcb91;
	color: darkcyan;
	height: 88vh;
}

.fa-arrow-circle-right {
	color: #6ddccf;
	font-size: 1.5rem;
	vertical-align: middle;
}

button.list-group-item {
	font-size: 1.5rem;
	text-align: center;
}

#word_intro {
	display: none;
	margin: auto;
}

h2, h6, #audio_wrapper{
	text-align: center;
}

#main_word {
	font-size: 3rem;
}

.fa-volume-up {
	color: #6ddccf;
	font-size: 2rem;
}


#speaker {
	border: none;
	background-color: transparent;
}

.badge {
	font-size: 1.5rem;
}

.word_choices {
	text-align: center;
}

.btn-outline-success {
	margin: 20px;
}

