body {
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	background-color: #6ddccf;
}

h1 {
	color: white;
	font-family: 'RocknRoll One', sans-serif;
	text-transform: uppercase;
	padding-top: 5px;
	padding-left: 25px;
}

h4, h5 {
	text-align: center;
	padding-top: 10px;
}

#login {
	background-color: #ffefa1;
}

.sightword_list_col {
	background-color: #ffcb91;
	color: darkcyan;
	height: 88vh;
}

.fa-arrow-circle-right {
	color: #6ddccf;
	font-size: 1.5rem;
	vertical-align: middle;
}

button.list-group-item {
	font-size: 1.5rem;
	text-align: center;
}

#word_intro {
	display: none;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

h2, h6, #audio_wrapper{
	text-align: center;
}

#main_word {
	font-size: 3rem;
}

.fa-volume-up {
	color: #6ddccf;
	font-size: 2rem;
}

#speaker {
	border: none;
	background-color: transparent;
}

.stars {
	position: absolute;
	color: #ffefa1;
	font-size: 2rem;
	padding: 20px;
	display: none;
}

@keyframes anime-star {
	0% {color: #ffc107; font-size: 3rem; transform: rotate(10deg)}
	25% {color: #ffc107; font-size: 2rem; transform: rotate(-10deg)}
	50% {color: #ffc107; font-size: 2rem; transform: rotate(10deg)}
	100% {color: #ffc107; font-size: 2rem;}
}

.star-animation {
	animation: anime-star 1s;
  	animation-fill-mode: forwards;
  	animation-timing-function: ease-out;
}

#game-container {
	display: none;
	width: 70%;
	margin: auto;
	border-radius: 30px;
	background-color: #6ddccf;
	padding: 20px;
}

.circle {
	position: absolute;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	font-size: 2rem;
	font-style: bold;
	color: #6ddccf;
	text-align: center;
	background: #fff;
}

.badge {
	font-size: 1.5rem;
}

.word_choices {
	text-align: center;
}

.btn-light, .btn-warning {
	margin: 20px;
}

.btn-light:hover {
	font-weight: 800;
}

.alert{
	display: none;
	width: 70%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px
}

.alert-success {
	background-color: #0ab96a;
	border: 0;
	color: white;
	font-weight: 800;
	font-size: 2rem;
}

.alert-warning {
	font-size: 2rem;
}

.next-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #6ddccf;
	display: none;
}

.next-btn:hover {
	background-color: #6ddccf;
	font-weight: 800;
}

